*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(net.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height: 5rem;
    width: 8rem;
}
header{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99;
}
.contente{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    line-height: 20px;
    gap: 20px;
}
.form{
    background-color: rgba(0, 0, 0, 0.758);
    height: 25rem;
    width: 22rem;
    overflow: hidden;
    padding: 30px 12px;

}
.forg,.form-group{
    padding: 20px 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-text{
    height: 3rem;
    width: 15rem;
    border-radius: 5px;
    border: none;
    outline: none;
    
}
input[type="email"],input[type="senha"]{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 62, 62, 0.61);
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(247, 244, 244);
}
.bnt,.link{
    text-decoration: none;
    height: 3rem;
    width: 15rem;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(247, 244, 244);
    background-color: rgba(252, 7, 7, 0.981);
    cursor: pointer;
    transition: all ease-in-out 0.9s;
}
.bnt:hover,.link:hover{
    background-color: rgba(158, 7, 7, 0.981);
    text-decoration: none;
    color: white;
}
.form-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
a{
    cursor: pointer;
    transition: all ease-in-out 0.9s;
    color: white;
    text-decoration: none;  
}
a:hover{
    color: rgba(252, 7, 7, 0.981);
    text-decoration: underline;
}
.text-form{
    font-size: 20px;
    font-weight: bold;
}